.profile {
    border-radius: 50%;
    height: 250px;
}

.s1 {
    color: #fcedd0;

    h1 {
        animation: fadeInDown 2s ease-in both;
        font-family: 'Sora', sans-serif;
        font-size: 3rem;
    }

    img {
        animation: fadeIn 2s ease-in both;
    }

    p {
        animation: fadeInUp 2s ease-in both;
        font-size: .9rem;
        line-height: 1.75;

    }
}



// Transitions
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -30%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

// Breakpoints

@media only screen and (min-width: 576px) {
    .s1{
        h1{
            font-size: 4rem;
        }
        p{
            font-size: 1.25rem;
        }
    }
}