.profile {
    border-radius: 50%;
    height: 250px;
}

.s1 {
    color: #fcedd0;

    h1 {
        font-family: 'Sora', sans-serif;
        font-size: 3rem;
    }


    p {
        font-size: .9rem;
        line-height: 1.75;

    }
}

// media queries
@media only screen and (min-width: 576px) {
    .s1{
        h1{
            font-size: 4rem;
        }
        p{
            font-size: 1.25rem;
        }
    }
}