.s2 {
    h1 {
        font-size: 1.5rem;
        padding: 10px;
    }
}

.card {
    border-radius: 20px !important;
    margin-bottom: 10px;
    box-shadow: 5px 5px 8px #050505;
    height: 200px;
    width: 200px;

    a,
    a:visited {
        text-decoration: none;
        color: black;
    }

    p {
        text-align: center;
        font-size: 15px;
        margin-bottom: 0;
    }
}

.card:hover {
    box-shadow: 8px 8px 10px #050505;
}

.card-img {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    object-fit: cover;
}


@media only screen and (min-width: 400px) {
    .s2 {
        h1 {
            font-size: 2.25rem;
        }

    }
}
@media only screen and (min-width: 576px) {
    .s2 {
        h1 {
            font-size: 2.5rem;
        }

    }
}